@import "settings";
a:hover{
  color: $secondColor;
}
.themeColor:hover{
  color: $themeColor;
}
.loginWrap{
  padding: 50px 30px 40px 100px;
}
.formControl,.formC{
  width: 320px;
  height: 34px;
  padding: 6px 12px;
  background: #fff;
  border: 1px solid #fff;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  outline: none;
  &:focus{
    border-color: $themeColor;
  }
}
.inputGroupAdd {
  top: 0;
  padding: 8px 12px;
  margin: 0;
  height: 34px;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-right-color: $borderColor;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.loginError{
  height: 34px;
  line-height: 34px;
}
.findPasswordLink{
  margin-left: 242px;
}
.loginBtn{
  width: 360px;
}
.accountSide{
  background: $borderColor;
  dt,dd{
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  a{
    color: $accountColor;
  }
  i{
    margin-right: 4px;
  }
  dt{
    border-bottom: 1px #fff solid;
  }
  dd{
    display: none;
    background: $backColor;
    border-bottom: 1px $borderColor solid;
  }
  .current{
    dd{
      display: block;
    }
    .active{
      background: $accountColor;
      a{
        color: #fff;
      }
    }
  }
}
.rechargeTitle{
  li{
    float: left;
  }
  a{
    display: block;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    background: #fff;
    color: #333;
  }
  .active{
    background: $backColor;
    color: $accountColor;
  }
}
.rechargeContainer{
  padding: 20px 30px;
  background: $backColor;
}
.payWays{
  dt{
    margin-top: 6px;
  }
}
.payWayWrap{
  width: 700px;
}
.singleWay{
  float: left;
  margin: 0 20px 10px 0;
  input{
    margin-top: 10px;
    margin-right: 16px;
  }
  img{
    border: 1px $borderColor solid;
  }
  .active{
    border: 1px $accountColor solid;
  }
}
#payHide{
  display: none;
}
.toggleItem{
  position: relative;
  background: $borderColor;
  width: 505px;
  height: 30px;
  margin: 10px 0 30px 100px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  &:before{
    content: " ";
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -3px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid $borderColor;
  }
}
.rechargeArea{
  margin-left: 100px;
  label{
    display: inline-block;
    width: 66px;
  }
}
.rechargeHint{
  margin-left: 100px;
}
.rechargeOptions{
  dd{
    margin-top: 6px;
  }
}
.rechargeSucceed{
  padding: 50px 60px;
}
.twoContainer{
  margin-top: 20px;
}
.iAccount{
  height: 160px;
  padding-top: 28px;
  overflow: hidden;
  li{
    float: left;
    width: 215px;
    padding-left: 20px;
    border-right: 1px $borderColor solid;
  }
  .progress{
    width: 148px;
  }
  .regularBtn{
    margin-top: 36px;
  }
}
.showSecurity{
  a{
    margin-right: 15px;
    padding: 4px;
    border-radius: 50%;
    background: $borderColor;
    &:hover{
      color: inherit;
      background: inherit;
    }
  }
  .secondColor{
    &:hover{
      color: inherit;
      background: inherit;
    }
  }
}
.showTips{
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background: $borderColor;
  cursor: pointer;
}
.switchWrap{
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 100px;
}
.switch{
  display: inline-block;
  width: 150%;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  border: 1px solid #cccccc;
}
.switchToggle{
  left: -50%;
}
.switch-item,.switch-middle{
  float: left;
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 100%;
  padding-bottom: 4px;
  padding-top: 4px;
  font-size: 14px;
  line-height: 20px;
}
.switch-item{
  text-align: center;
  z-index: 1;
  width: 33%;
}
.switch-middle{
  text-align: center;
  margin-bottom: -1px;
  z-index: 100;
  width: 34%;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background: #fff;
}
.switch-left{
  color: #ffffff;
  background-color: $secondColor;
}
.switch-right{
  background-color: #f0f0f0;
}
.accountOverview{

}
.accountOverviewLeft{
  width: 25%;
  height: 240px;
  border-right: 1px $borderColor solid;
}
.accountOverviewRight{
  width: 73%;
  margin-left: 2%;
  li{
    float: left;
    width: 33%;
    height: 100%;
    padding: 10px 0 10px 20px;
    border-right: 1px $borderColor solid;
  }
}
.accountOverviewUp{
  padding-bottom: 10px;
  border-bottom: 1px $borderColor solid;
}
.accountOverviewDown{
  .fl{
    padding-left: 30px;
  }

}
.accountInvestTitle{
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  border-bottom: 1px $borderColor solid;
}
.searchTypeWrap{
  padding: 10px 0;
}
.searchType{
  margin-right: 20px;
}
.itemTitle,.itemBottom{
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
}
.itemTitle{
  border-bottom: 1px $borderColor solid;
}
.itemBottom{
  border-top: 1px $borderColor solid;
}
.fundsFlow{
  border: 1px $borderColor solid;
}
.fundsFlowContent{

}
.filterLine{
  a.active{
    background: $secondColor;
  }
  a:hover{
    color: $secondColor;
  }
  span,input {
    margin-top: 5px;
  }
}
.datePicker{
  display: inline-block;
  width: 120px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #ccc;
  margin: 0 10px;
  text-indent: 6px;
  background: #fcfcfc;
}
.walletInfoItem{
  float: left;
  width: 22%;
  height: 100px;
  padding: 10px  20px;
  border-right: 1px $borderColor solid;
}
.walletInfoRight{
  float: left;
  width: 56%;
  padding: 10px 20px;
}
.walletInfoRight1{
  line-height: 32px;
}
.myWalletAreaTap{
  padding: 0 20px;
  li{
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    border-bottom: 3px transparent solid;
    margin-bottom: -3px;
    cursor: pointer;
  }
  .active{
    color: $secondColor;
    border-color: $secondColor;
  }
}
.myWalletAreaDetail{
  padding: 0 20px;
}
.myWalletOutLeft{
  width: 478px;
  label{
    display: inline-block;
    width: 136px;
  }
}
.formControl:focus{
  border-color: $secondColor;
}
.myWalletOutResult{
  padding: 50px 30px 20px 30px;
}
.myWalletOutResultDown{
  padding-bottom: 30px;
  border-bottom: 1px $borderColor solid;
}
.myWalletIn{
  li{
    float: left;
    padding-left: 20px;
    width: 33%;
    border-right: 1px $borderColor solid;
  }
}
.myWalletNow{
  border-top: 1px $borderColor solid;
}
.messagesTable{
  width: 840px;
  margin: 0 auto;
  padding: 0 5px;
  tr{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
  }
  td{
    padding: 12px 10px!important;
    cursor: pointer;
  }
}
.messageContent,.removeMsg{
  display: none;
}
.toggleContent{
  .originDate{
    display: none;
  }
  .messageContent,.removeMsg{
    display: block;
  }
}
.messageRight{
  width: 160px;
  text-align: right;
}
.insideDate{
  color: $defaultColor;
}
.myInfo{
  td{
    padding: 15px 10px!important;
  }
}
.myMessageBottom{
  a{
    margin-left: 10px;
  }
}
.formGroupUnion{
  .formControl,.itemInput{
    width: 48%;
  }
  .itemInput{
    height: 34px;
  }
}
.registerForm{
  .formGroupUnion{
    width: 360px;
  }
}