@charset "UTF-8";
a:hover {
  color: #5e9eed;
}

.aboutSide {
  float: left;
  width: 200px;
  text-align: center;
}
.aboutSide li {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px #fff solid;
}
.aboutSide .aboutSub {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px #fff dotted;
}
.aboutSide .aboutSub a {
  padding-left: 40px;
}
.aboutSide a {
  display: block;
  border-left: 3px #f3f5fb solid;
}
.aboutSide a:hover {
  color: #5e9eed;
  border-left: 3px #5e9eed solid;
}
.aboutSide .active {
  color: #5e9eed;
  border-left: 3px #5e9eed solid;
}

.mediaRight {
  width: 650px;
}
.mediaRight h4 a {
  color: #333;
  font-size: 15px;
}
.mediaRight p {
  color: #999;
}

.aboutBanner {
  height: 100px;
  padding: 25px 30px 0;
  background: #5cb85c;
  color: #fff;
}
.aboutBanner a {
  color: #fff;
}
.aboutBanner span {
  margin-right: 16px;
}
.aboutBanner .titleDes {
  opacity: .7;
  filter: alpha(opacity=70);
}

.aboutContent {
  padding-bottom: 30px;
  border-bottom: 1px #e1e3e7 dashed;
}
.aboutContent p, .aboutContent h3 {
  margin-top: 20px;
}
.aboutContent p {
  text-indent: 2em;
}
.aboutContent h3 {
  color: #333;
  font-size: 16px;
}

.partner li {
  padding: 30px;
  border-bottom: 1px #e1e3e7 dotted;
}

.announcement {
  padding: 0 30px 30px 30px;
}
.announcement li {
  margin-top: 20px;
}

.aboutTab {
  padding-bottom: 20px;
  border-bottom: 1px #e1e3e7 dashed;
}
.aboutTab li {
  margin-right: 26px;
}
.aboutTab a {
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
}
.aboutTab a:hover {
  color: #5cb85c;
  border-bottom: 3px #5cb85c solid;
}
.aboutTab .active {
  color: #5cb85c;
  border-bottom: 3px #5cb85c solid;
}

.employ dl {
  padding-bottom: 20px;
  border-bottom: 1px #e1e3e7 dotted;
}

.lawLine li {
  padding: 20px 0;
  border-bottom: 1px #e1e3e7 dotted;
}

#preview {
  border: 1px solid #bfd2e1;
  width: 720px;
  height: 350px;
  margin-bottom: 80px;
  font-family: Arial, Helvetica, sans-serif,"宋体";
}

#map_container {
  height: 368px;
}

#float_search_bar {
  z-index: 2012;
  position: absolute;
  width: 480px;
  height: 31px;
  background: url("http://dev.baidu.com/wiki/static/map/tuan/images/search_bar.png") repeat-x;
  background-position: 0 -21px;
  padding: 3px 0 0 10px;
}

#float_search_bar label, #float_search_bar span {
  color: #0787cb;
  font-size: 14px;
}

#float_search_bar input {
  width: 180px;
  height: 16px;
  margin-top: 1px;
}

#float_search_bar input:focus {
  outline: none;
}

#float_search_bar button {
  border: 0;
  color: white;
  width: 77px;
  height: 20px;
  background: url("http://dev.baidu.com/wiki/static/map/tuan/images/search_bar.png") no-repeat;
  background-position: 0 0;
  margin-right: 5px;
  cursor: pointer;
}

.aboutUs p {
  margin-top: 10px;
  text-indent: 2em;
}

.hoverItem li {
  position: relative;
  float: left;
  margin-right: 20px;
  width: 105px;
  height: 140px;
}
.hoverItem li img {
  width: 100%;
  border-radius: 50%;
}

.hoverSingle {
  padding: 20px;
  text-indent: 2em;
  border: 2px solid #bfbfbf;
}

.topArrow {
  position: absolute;
  left: 42px;
  bottom: -3px;
  display: none;
  width: 25px;
  height: 15px;
  background: url("../images/tip.png") 0 0 no-repeat;
  z-index: 2;
}

.activeHover {
  width: 115px !important;
}
.activeHover .topArrow {
  display: block;
}

.identification li img {
  width: 200px;
  height: 150px;
}
.identification .contentRight {
  width: 560px;
}

.lawOfficeLeft {
  width: 355px;
  height: 445px;
  border: 1px #e1e3e7 solid;
}

.lawOfficeRight {
  background: #5cb85c;
  height: 445px;
  width: 325px;
  margin-left: 50px;
  padding: 15px 15px 0;
  text-align: justify;
  color: #fff;
}
