.investTitle {
  border-width: 1px 0;
  border-color: #e1e3e7;
  border-style: solid;
}
.investTitle li {
  float: left;
  padding: 10px 20px;
}
.investTitle .active a {
  color: #ed7c5e;
}

.filterLine label, .filterLine a {
  float: left;
  padding: 5px 15px;
}
.filterLine label {
  margin-right: 30px;
}
.filterLine a {
  border-radius: 3px;
}
.filterLine a.active {
  background: #ed7c5e;
  color: #fff;
}

.investList li {
  float: left;
  width: 240px;
  padding: 15px;
  margin: 0 30px 20px 0;
  border: 1px #e1e3e7 solid;
  background: #f3f5fb;
  border-radius: 3px;
}

.investListBrief {
  height: 72px;
  overflow: hidden;
  text-indent: 2em;
}

.investListDetail {
  float: left;
  width: 50%;
  border-right: 1px #e1e3e7 solid;
}

.investListDetail.fr {
  border-right: none;
}

.checkItem {
  display: block;
  width: 80%;
  height: 45px;
  line-height: 45px;
  margin: 20px auto 0 auto;
  background: #ed7c5e;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  font-size: 16px;
}
.checkItem:hover {
  opacity: .8;
  color: #fff;
}

.indexNotice li {
  height: 48px;
  line-height: 48px;
}

.integralLine {
  overflow: hidden;
}
.integralLine dt, .integralLine dd {
  float: left;
}
.integralLine dt {
  width: 260px;
  padding: 30px;
  text-align: center;
  background: #fff;
  font-size: 16px;
}
.integralLine dd {
  width: 820px;
  background: #f3f5fb;
}
.integralLine .integralItem {
  float: left;
  padding: 30px 15px;
  text-align: center;
}

.integralToday {
  height: 160px;
}
.integralToday .integralItem {
  width: 33.3%;
}

.integralNormal {
  height: 200px;
}
.integralNormal dd {
  height: 200px;
}
.integralNormal .integralItem {
  width: 25%;
}

.integralItemDetail {
  height: 70px;
  line-height: 70px;
  text-align: center;
  background: #ed7c5e;
  font-size: 36px;
  color: #fff;
  border-radius: 3px;
}

.integralItemBottom .left {
  margin-top: 5px;
}
.integralItemBottom .btn {
  padding: 5px 10px;
}

.integralYear .integralItem {
  width: 50%;
}
.integralYear .integralItemDetail, .integralYear .btn {
  background: #5e9eed;
}

.investTitleTop {
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.investTitleLeft {
  width: 200px;
  background: #363b3f;
}

.investTitleRight {
  width: 880px;
  height: 60px;
  background: #5e9eed;
}
.investTitleRight a {
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
}
.investTitleRight a:hover {
  opacity: .8;
}

.investWrap {
  padding: 20px;
  background: #f3f5fb;
}

.progressWrap {
  width: 200px;
  margin-top: 50px;
}

.progressWrapDetail {
  margin-top: 20px;
  padding: 0 20px 0 60px;
}

.progressWrapDetail2 {
  border-left: 1px #ddd solid;
}
